name: build adocs

on: [workflow_dispatch, push]

jobs:
  adoc_build:
    runs-on: ubuntu-latest
    name: asciidoctor aim standard
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Get build container
      id: adocbuild
      uses: metanorma/metanorma@v1.8
      with:
          program: "metanorma compile -x html,doc -t iso standard/document.adoc"
